*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2d3038;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: #2d3038;
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.header__item {
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 0;

  font-family: "Sacramento", cursive;
  font-size: 40px;
  line-height: 40px;
}

.logo__img {
  width: 58px;
  height: 58px;
  margin-right: 10px;

  border-radius: 50%;
}

.logo__text {
  margin-top: 10px;
}

.menu {
  text-transform: uppercase;
  display: flex;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__item {
  display: flex;
}

.menu__link {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  padding: 0 18px;

  background-color: #2d3038;

  transition: all 0.3s;
}

.menu__link:hover,
.menu__link:focus {
  z-index: 10;
  background-color: #873e95;
  transform: scale(1.1) perspective(10px);
}

.home__inner {
  min-height: calc(100vh - 78px);
  display: flex;
  align-items: center;
}

.home-info__text {
  margin: 0;

  font-family: "Sacramento", cursive;
  font-size: 60px;
  font-weight: 700;
}

.home-info__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 90px;
}

.home-info__profession {
  margin: 0;

  text-transform: uppercase;
  letter-spacing: 20px;
}

.section {
  margin: 30px 0;
}

.section__inner {
  display: flex;
}

.section__title {
  margin-top: 0;
  width: calc(100% / 3);

  font-size: 50px;
}

.section__body {
  width: calc(100% * 2 / 3);
}

.contacts {
  font-size: 18px;
}

.contacts > div {
  margin-bottom: 15px;
}

.contacts__title {
  display: inline;

  font-weight: 700;
}

.contacts__description {
  display: inline;
  margin: 0;
}

.footer {
  margin-top: auto;
  padding: 15px 0;

  color: #fff;

  background-color: #2d3038;
}